.card {
  display: flex;
  flex-direction: column;
  max-width: $card-width;
  padding: 14px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__product-photo {
    align-self: center;
    width: 168px;
    height: 149px;
    padding-top: 15px;
    border: 3px solid #fff;
    transition: transform 400ms;
  }

  &__product-photo:hover {
    transform: scale(1.2);
    border-color: $border-color;
  }
}
